@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-200: #E5E7EB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-600: #3d3f42;
	--dk-dark-bg: #313348;
	--green-bg-color: rgba(20, 172, 148, 0.14);


}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: .925rem;
}

#wrapper {
	margin-left: var(--sidebar-width);
	transition: all .3s ease-in-out;
}

#wrapper.fullwidth {
	margin-left: 0;
}


.statistics {
	color: var(--dk-dark-bg);
}

.row{
	margin-top: 100px;
}
.statistics .box {
  background-color: var(--green-bg-color);
  margin-left: 20px;
  margin-right: 20px;

}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.statistics .box p {
	color: var(--dk-gray-600);
}